<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10xMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,428},{392,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,277}}</string>
                <key>sourceSize</key>
                <string>{392,277}</string>
            </dict>
            <key>2xMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,428},{392,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,277}}</string>
                <key>sourceSize</key>
                <string>{392,277}</string>
            </dict>
            <key>3xMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,149},{392,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,277}}</string>
                <key>sourceSize</key>
                <string>{392,277}</string>
            </dict>
            <key>4xMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,149},{392,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,277}}</string>
                <key>sourceSize</key>
                <string>{392,277}</string>
            </dict>
            <key>5xMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,149},{392,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,277}}</string>
                <key>sourceSize</key>
                <string>{392,277}</string>
            </dict>
            <key>6xMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{392,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,277}}</string>
                <key>sourceSize</key>
                <string>{392,277}</string>
            </dict>
            <key>7xMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,428},{392,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,277}}</string>
                <key>sourceSize</key>
                <string>{392,277}</string>
            </dict>
            <key>8xMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,428},{392,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,277}}</string>
                <key>sourceSize</key>
                <string>{392,277}</string>
            </dict>
            <key>9xMultiplier.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{392,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,277}}</string>
                <key>sourceSize</key>
                <string>{392,277}</string>
            </dict>
            <key>BossZombie-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,149},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>BossZombie-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,149},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>BossZombie-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{96,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>BossZombie-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,149},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>BossZombie-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,149},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>BossZombie-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,149},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>Quit_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,64},{170,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{170,69}}</string>
                <key>sourceSize</key>
                <string>{200,85}</string>
            </dict>
            <key>Restart_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,2},{348,60}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{348,60}}</string>
                <key>sourceSize</key>
                <string>{376,82}</string>
            </dict>
            <key>Resume_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{297,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{297,59}}</string>
                <key>sourceSize</key>
                <string>{319,79}</string>
            </dict>
            <key>ammoBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ammoBox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>basic_zombie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,64},{39,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,81}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>basic_zombie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,64},{40,68}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{40,68}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>basic_zombie_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,64},{40,81}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,81}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,64},{42,73}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{42,73}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,64},{42,83}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{42,83}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,64},{42,81}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{42,81}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,64},{42,65}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{42,65}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,64},{42,81}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{42,81}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,64},{39,61}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,61}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>basic_zombie_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,64},{42,81}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{42,81}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,64},{42,73}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{42,73}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,64},{42,63}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{42,63}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{42,61}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{42,61}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,64},{42,65}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{42,65}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,64},{42,81}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{42,81}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>basic_zombie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,64},{39,71}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,71}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>basic_zombie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,64},{41,75}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,75}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>basic_zombie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,64},{41,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,79}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,2},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>buyAds-button-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,64},{344,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{344,81}}</string>
                <key>sourceSize</key>
                <string>{360,105}</string>
            </dict>
            <key>buyAds-button-over-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,64},{344,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{344,81}}</string>
                <key>sourceSize</key>
                <string>{360,105}</string>
            </dict>
            <key>buyAds-button-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{172,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{172,41}}</string>
                <key>sourceSize</key>
                <string>{180,53}</string>
            </dict>
            <key>buyAds-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{172,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{172,41}}</string>
                <key>sourceSize</key>
                <string>{180,53}</string>
            </dict>
            <key>cash-button-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,64},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>cash-button-over-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,64},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>cash-button-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>cash-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>crawlingZombie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,64},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>crawlingZombie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,64},{44,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,78}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>crawlingZombie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,64},{44,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{44,74}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>crawlingZombie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,64},{44,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{44,74}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>crawlingZombie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,64},{44,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,78}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>crawlingZombie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,64},{44,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{44,74}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>crawlingZombie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,64},{44,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{44,74}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>crawlingZombie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,64},{44,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,78}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>flameCollisionSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,707},{50,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,340}}</string>
                <key>sourceSize</key>
                <string>{50,340}</string>
            </dict>
            <key>flameCollisionSprite1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,149},{50,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,220}}</string>
                <key>sourceSize</key>
                <string>{50,220}</string>
            </dict>
            <key>gotHit1fade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{878,636}}</string>
                <key>offset</key>
                <string>{-41,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{878,636}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>gotHit2fade.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1264},{940,640}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{940,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>greenHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>instructions_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,707},{862,555}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{862,555}}</string>
                <key>sourceSize</key>
                <string>{906,589}</string>
            </dict>
            <key>medkit.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>nukeAmmoBox copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>particleTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>pauseButtonBlood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>player_1_cropped.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{37,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>player_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>store-button-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{173,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{173,41}}</string>
                <key>sourceSize</key>
                <string>{179,67}</string>
            </dict>
            <key>store-button-over-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{173,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{173,41}}</string>
                <key>sourceSize</key>
                <string>{179,67}</string>
            </dict>
            <key>store-button-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{88,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,22}}</string>
                <key>sourceSize</key>
                <string>{90,34}</string>
            </dict>
            <key>store-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{88,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,22}}</string>
                <key>sourceSize</key>
                <string>{90,34}</string>
            </dict>
            <key>yellow_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamesprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1ad098a2ed54a112707035b4d45f77c$</string>
            <key>textureFileName</key>
            <string>gamesprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
