<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,124},{1,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,2}}</string>
                <key>sourceSize</key>
                <string>{1,2}</string>
            </dict>
            <key>old_basic_zombie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,48}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>old_basic_zombie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{26,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,42}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>old_basic_zombie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,46},{22,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,42}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>old_basic_zombie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{22,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,42}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>particleTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,90},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pauseButtonBlood.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,96},{20,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f55d4bd85658cf01629985435b9ae6f1$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
