<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,76},{2,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,4}}</string>
                <key>sourceSize</key>
                <string>{2,4}</string>
            </dict>
            <key>old_basic_zombie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{48,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{48,94}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>old_basic_zombie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{50,82}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{50,82}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>old_basic_zombie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,172},{44,82}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,82}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>old_basic_zombie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{44,82}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,82}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>particleTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,86},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>pauseButtonBlood.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,86},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,134},{36,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{36,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ca88ad3fddddd0ab1c6964f4933eff$</string>
            <key>textureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
